<div class="main">
    <div class="controls">
        <form class="input-group">
            <input type="text" class="form-control" name="searchTermInput" [(ngModel)]="searchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="onSearch()">Search!</button>
            </span>
        </form>
    </div>
    <div *ngFor="let item of items$ | async" class="item-container">
        <div class="item" (click)="onPlayVideo(item.id)">
            <div class="item-image-container">
                <img [src]="item.thumbnailUrl" width="320" height="180" class="item-image" />
            </div>
            <div class="item-title-container">
                <h3>{{ item.title }}</h3>
            </div>
        </div>
    </div>
</div>